body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.sub {
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}
